body {
  background-color: #000000;
  display: flex;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  -webkit-touch-callout: none; 
  -webkit-user-select: none;
  -khtml-user-select: none; 
  -moz-user-select: none;
  -ms-user-select: none;  
  user-select: none;
  mix-blend-mode: difference;
}

.box {
  align-items: center;
  width: 100%;
  height: 100%;
}

#video {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
  object-fit: cover;
}

#video2 {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: 0;
  object-fit: cover;
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.ascii {
  text-align: center;
  font-size: 3.3px;
  opacity: 1;
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
  margin-top: 10%;
}

.snabela {
  color: black;
}

.other {
  color: white;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

.names {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  font-size: 18.6px; 
  z-index: 1;
  font-family: 'Roboto', sans-serif;
  font-family: 'Roboto Mono', monospace;
  text-shadow: 0 0 10px rgba(255, 255, 255, 1);
}

#fullscreen-button {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  color: white;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px)
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 110%;
  height: 110%;
  opacity: 10%;
  z-index: 10;
  background: url('../img/grain.png');
  pointer-events: none;
}

.window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 264px;
  height: 118px;
  background-color: #000000;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 0;
  padding: 0;
  z-index: 9999;
  overflow: hidden;
}

.window-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 20px;
  padding: 2px 3px 3px;
  margin: 0;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  font-weight: bold;
  overflow: hidden;
}

.window-title {
  margin: 0;
}

.window-close {
  background-color: #ffffff;
  text-align: center;
  border: none;
  padding: 0;
  border-radius: 0;
  width: 15px;
  height: 10px;
  color: rgb(0, 0, 0);
  position: absolute;
  top: 1px;
  right: 4px;
}

.window-close:active {
  box-shadow: 0.5px 0.5px 0 0.5px white, inset 1px 1px black, inset -1px -1px #c2c6ca, inset 2px 2px #85898d;
  transform: translateX(1px) translateY(1px);
}

.window-content {
  font-family: "Microsoft Sans Serif", sans-serif;
  top: 20px;
  position: relative;
  font-size: 12px;
  text-align: center;
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.window-content p {
  display: block;
  margin: 20px 0;
}

a:link {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:visited {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:hover {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

a:active {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.pre2 {
  -webkit-animation: fadein 2s;
  user-select: none;
  background: repeating-linear-gradient(120deg, rgb(255, 255, 255) 0%, rgb(141, 141, 141) 40%, rgb(255, 255, 255) 60%);
  background-size: 60vw 60vw;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip: text;
  animation: slide 5s linear infinite forwards;
 }

@keyframes slide {
  0% {
      background-position-x: 0%;
  }
  100% {
      background-position-x: 60vw;
  }
}



